.promo {
    margin-bottom: 50px;
    padding: 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #F8F8F8;
    background-image: url(../../../../public/hero/emerald.svg);
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: left -20px top 24px;
    height: 300px;
}

.promo__img {
    height: 100%
}
   
.promo-wrapper__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 30px;
}

.promo-wrapper__title {
    margin-bottom: 54px;
}


@media (max-width: 900px) {

    .promo-wrapper__subtitle {
        margin-bottom: 16px;
    }

    .promo-wrapper__title {
        margin-bottom: 24px;
    }

    .promo {
        padding: 12px 26px 0 96px;
    }


}

@media (max-width: 650px) {
    .promo {
        height: 200px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .promo-wrapper__subtitle {
        font-size: 16px;
    }

} 

@media (max-width: 460px) {

    
    .promo {
       height: 150px;
    }
    

}