.solid-button {
    background-color: #303030;
    padding: 20px 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color 0.2s ease-in-out;
}

.solid-button:hover {
    background-color: #505050;
    transition: background-color 0.2s ease-in-out;
} 

.solid-button:active {
    background-color: #000;
    transition: background-color 0.2s ease-in-out;
} 

.outline-button {
border: 1px solid #303030;
background-color: #FFFFFF;
padding: 19px 55px;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
text-align: center;
text-transform: uppercase;
color: #303030;
transition: all 0.2s ease-in-out;
}

.outline-button:hover {
    border: 1px solid #303030;
    background-color: #303030;
    color: #fff;
    transition: all 0.2s ease-in-out;
} 

.outline-button:active {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    transition: all 0.2s ease-in-out;
} 

@media (max-width: 900px) {
    .solid-button,
    .outline-button {
        padding: 15px 30px;
    }
}