.sale__categories {
    display: flex;
    gap: 8px;
    margin-bottom: 36px;
    flex-wrap: wrap;
}

.sale-categories__button {
    padding: 13px 30px;
    border-radius: 21px;
    background: #F0F0F0;
    transition: all 0.3s ease-in-out;
}

.sale-categories__button:hover {
    background-color: #DDDDDD;
    transition: all 0.3s ease-in-out;
}


.sale-categories__button.active {
    background: #303030;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

.sale__plate {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 310px));
    gap: 20px;
}

.sale-plate__tile { 
    
    padding: 16px 24px;
    border: 1px solid #F0F0F0;
    position: relative;
    overflow: hidden;
}

.sale-tile__stickers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sale-plate__icon {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
} 

.sale-icon__dots {
    position: absolute;
    display: flex;
    gap: 6px;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.sale-icon__eye {
    position: absolute;
    top: 50px;
    right: 23px;
    z-index: 2;
}

.sale-prices__sticker {
    background: #E24B33;
}
.sale__stickers-offer {
    background: #5B8A8F;
}

.sale-prices-plate__actual-price {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #303030;
}

.sale-prices-plate__prevous-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-decoration-line: line-through;
    color: #8F8F8F;

}

.sale-prices__plate {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sale-plate__prices {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale__stickers-like.active {
    fill: #E24B33;
} 