.sale__categories {
    display: flex;
    gap: 8px;
    margin-bottom: 36px;
    flex-wrap: wrap;
}

.sale-categories__button {
    padding: 13px 30px;
    border-radius: 21px;
    background: #F0F0F0;
    transition: all 0.3s ease-in-out;
}

.sale-categories__button:hover {
    background-color: #DDDDDD;
    transition: all 0.3s ease-in-out;
}


.sale-categories__button.active {
    background: #303030;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

.sale__plate {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 310px));
    justify-content: center; 
    align-items: center;
    gap: 20px;
}

@media (max-width: 600px) {

.sale__categories {
    justify-content: center;
}
}