.dailyProduct-item__icon {
    width: 550px;
}

.dailyProduct__item {
    display: flex;
    gap: 100px;
}

.dailyProduct-icon-img__wrapper {
    position: relative;
}
 
.dailyProduct__header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dailyProduct-header__arrows {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dailyProduct-header__title {
    margin-bottom: 0;
}

.dailyProduct-icon__arrow--disabled .arrow-svg {
    stroke: #D9D9D9;
}

.dailyProduct-item__icon {
    position: relative;
}

.dailyProduct-icon__plate {
    position: absolute;
    top: 3%;
    left: 3%;
    display: flex;
    gap: 4px;
}

.dilyProduct-icon__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0; 

}

.dailyProduct-item-numbers__price {
    justify-content: flex-start;
    gap: 16px;
}

.dailyProduct-icon__nav--left {
 
    transform: rotate(-180deg);
}


.form_radio:nth-child(1) label:before {
    background: #D9D9D9
}
.form_radio:nth-child(2) label:before {
    background: #F1CB7E;
}

.form_radio:nth-child(3) label:before {
    background: #EA8C48;
}

.form_radio:nth-child(4) label:before {
    background: #A7E492;
}


.form_radio input[type=radio]:checked + label:before {
	outline: 1px solid #303030;
}

.dailyProduct-item__stars {
    margin-bottom: 25px;
}

.dailyProduct-item__title {
    margin-bottom: 20px;
}

.dailyProduct-item__vendorcode {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #8F8F8F;

}


.dailyProduct-size__forms {
    margin-bottom: 40px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.dailyProduct-size__form input[type=radio] {
    display: none;

}

.dailyProduct__button {
    width: 100%;
}

.dailyProduct__button:nth-of-type(1) {
    margin-bottom: 10px;
}

.dailyProduct-size__info {
    position: relative;
}

.dailyProduct-info__tooltip {
    position: absolute;
}

.dailyProduct-size__wrapper {
    margin-bottom: 14px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.dailyProduct__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #303030;

}

.dailyProduct-color__title {
    margin-bottom: 16px;
}

.dailyProduct-plate__tile {
    display: flex;
    gap: 8px;
    align-items: center;
}

.dailyProduct-plate__tile:not(:last-child) {
    margin-bottom: 18px;
}

.dailyProduct__info {
    display: flex;
    align-items: center;
    gap: 71px;
}

.dailyProduct-tile__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #303030;
}

.dailyProduct-item__numbers {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #F0F0F0;
}





.dailyProduct-sizes {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2px;
    gap: 2px;
    margin-bottom: 11px;
}


.dailyProduct-sizes__item {
    flex-basis: calc(16.6% - 2px);
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    text-decoration: none;
    padding: 14px 0;
    text-align: center;
    background-color: #f6f6f6;
    color: #303030;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    position: relative;
    border: 2px solid transparent;
    width: 100%;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.dailyProduct-sizes__item:hover {
    border-color: #303030;
    transition: all 0.3s ease-in-out;
}

.dailyProduct-sizes__item.active {
    transition: all 0.3s ease-in-out;
    border-color: #303030;
};

.dailyProduct__color {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5px;
    gap: 10px;
    margin-bottom: 11px;
}

.dailyProduct-color__item-wrapper {
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
    
.dailyProduct-color__item {
    width: 36px;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.dailyProduct-color__item.gold {
    background-color: #F1CB7E
}

.dailyProduct-color__item.silver {
    background-color: #D9D9D9
}

.dailyProduct-color__item.pink-gold {
    background-color: #EA8C48
}

.dailyProduct-color__item.green {
    background-color: #A7E492
}


.dailyProduct__color {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 11px;
}

.dailyProduct-color__item-wrapper:hover,
.dailyProduct-color__item-wrapper.active {
    border-color: #303030;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1200px) {
    .dailyProduct__info {
        gap: 30px
    }
}


@media (max-width: 650px) {
    .dailyProduct-item__icon {
        width:  80%;
    }

    .dailyProduct__item {
        flex-direction: column;
        gap: 30px;
        
    }

    .dailyProduct-item__icon {
        align-self: center;
    }

}