.sticker {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #FFFFFF;
}

.sticker-new {
    background: #495159;
}

.sticker-hit {
    background: #E1A661;
}

.sticker-sale {
    background: #5B8A8F;
}

